NanoAnalyzer/.gitlab-ci.yml
NanoAnalyzer/old_mc/*
NanoAnalyzer/old/*
*.pyc
*.root
*.log
NanoAnalyzer/CharmoniumRun201*
*.txt
NanoAnalyzer/crab_projects/
NanoAnalyzer/crab_projects_monte_carlo/
NanoAnalyzer/luminosity_brilcal/2017/
NanoAnalyzer/luminosity_brilcal/2018/
NanoAnalyzer/DPS_D0ToKPi_JPsiPt-30To50_JPsiFilter_TuneCP5_13TeV-pythia8-evtgenRunIISummer20UL16RECUL/
NanoAnalyzer/DPS_D0ToKPi_JPsiPt-30To50_JPsiFilter_TuneCP5_13TeV-pythia8-evtgenRunIISummer20UL18RECUL/
NanoAnalyzer/DPS_D0ToKPi_JPsiPt-50To100_JPsiFilter_TuneCP5_13TeV-pythia8-evtgenRunIISummer20UL16RECUL/
NanoAnalyzer/DPS_D0ToKPi_JPsiPt-9To30_JPsiFilter_TuneCP5_13TeV-pythia8-evtgenRunIISummer20UL16RECUL/
NanoAnalyzer/DPS_D0ToKPi_JPsiPt-9To30_JPsiFilter_TuneCP5_13TeV-pythia8-evtgenRunIISummer20UL18RECUL/
NanoAnalyzer/SPS_D0ToKPi_JPsiPt-30To50_TuneCP5_13TeV-helaconia-pythia8-evtgenRunIISummer20UL16RECOAPUL/
NanoAnalyzer/SPS_D0ToKPi_JPsiPt-30To50_TuneCP5_13TeV-helaconia-pythia8-evtgenRunIISummer20UL16RECUL/
NanoAnalyzer/SPS_D0ToKPi_JPsiPt-30To50_TuneCP5_13TeV-helaconia-pythia8-evtgenRunIISummer20UL17RECUL/
NanoAnalyzer/SPS_D0ToKPi_JPsiPt-30To50_TuneCP5_13TeV-helaconia-pythia8-evtgenRunIISummer20UL18RECUL/
NanoAnalyzer/SPS_D0ToKPi_JPsiPt-50To100_TuneCP5_13TeV-helaconia-pythia8-evtgenRunIISummer20UL16RECOAPUL/
NanoAnalyzer/SPS_D0ToKPi_JPsiPt-50To100_TuneCP5_13TeV-helaconia-pythia8-evtgenRunIISummer20UL16RECUL/
NanoAnalyzer/SPS_D0ToKPi_JPsiPt-50To100_TuneCP5_13TeV-helaconia-pythia8-evtgenRunIISummer20UL17RECUL/
NanoAnalyzer/SPS_D0ToKPi_JPsiPt-50To100_TuneCP5_13TeV-helaconia-pythia8-evtgenRunIISummer20UL18RECUL/
NanoAnalyzer/SPS_D0ToKPi_JPsiPt-9To30_TuneCP5_13TeV-helaconia-pythia8-evtgenRunIISummer20UL16RECOAPUL/
NanoAnalyzer/SPS_D0ToKPi_JPsiPt-9To30_TuneCP5_13TeV-helaconia-pythia8-evtgenRunIISummer20UL16RECUL/
NanoAnalyzer/SPS_D0ToKPi_JPsiPt-9To30_TuneCP5_13TeV-helaconia-pythia8-evtgenRunIISummer20UL17RECUL/
NanoAnalyzer/SPS_D0ToKPi_JPsiPt-9To30_TuneCP5_13TeV-helaconia-pythia8-evtgenRunIISummer20UL18RECUL/
NanoAnalyzer/nanoanalyzer_mc_official_RunIISummer20UL16RECO_er20UL16RECO-106X_mcRun2_asymptotic_v13-v1.py
NanoAnalyzer/nanoanalyzer_mc_official_RunIISummer20UL16RECO_er20UL16RECO-106X_mcRun2_asymptotic_v13-v2.py
NanoAnalyzer/nanoanalyzer_mc_official_RunIISummer20UL18RECO_er20UL18RECO-106X_upgrade2018_realistic_v11_L1v1-v2.py

